# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
.vite/

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# Optional IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log

# Coverage reports
coverage/

# Misc
*.pem
*.pid
*.seed
*.pid.lock
tmp/

# MongoDB database dumps
dump/
